@font-face {
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
    font-size: 14px;
} 

/* ===============================================  CSS FOR HEADER ================================== */

.top-header {
    font-weight: 700;
    padding: 12px 0px;
    background: whitesmoke; 
    color: #7b7b7b;
    font-size: 12px;
}
.phone {
	text-align: right;
}
.phone a {
	color: #7b7b7b; 
}
.phone a:hover {
	color: #fc4a00; 
	text-decoration: none;
}
.mid-header {
    padding: 18px 0px;
}
.header-icon {
	padding: 12px 0px;
	text-align: right;
}
.header-icon a {
    color: #222;
}
.header-icon i {
    font-size: 13px;
    margin-left: 16px;
}
.header-icon a {
    color: #222;
}
.header-icon i:hover {
    color: #f84270;
}
.bottom-header {
	background-image: linear-gradient(90deg,#f84270 0%,#fe803b 100%);
	height: 70px;
}
.main-menu {
    position: relative;
}
.menubar {
	list-style-type: none;
	padding: 0px;
	margin-bottom: 0px;
}
.menubar li.menubar-item {
	display: inline-block;
    padding: 24px 20px;
}
.menubar-item:hover {
    background: #ffffff50;
}
.active {
    background: #ffffff50;
}
.menubar-item:hover a {
    text-decoration: none;
}
.menubar-item a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.search-bar {
    color: #fff; 
    text-decoration: none;
    background-color: transparent;
    top: 0px;
    right: 0px;
    position: absolute;
    background: #ffffff50;
    padding: 20px;
    font-size: 20px;
}
.search-container {
    background: #363B40; 
    padding: 20px 0px; 
    color: #fff;
}
.search-container {
    display: none;
}
.search-container input[type=text]{
    background: #363b40;
    border: none;
    color: white !important;
    width: 100%;
    font-size: 24px;
}
.search-container input[type=text]:focus{
    outline: none;
}

/* =============================================== CSS FOR SLIDER =================================== */ 
.slider {
    margin-bottom: 25px;
}
.carousel-item {
    padding-right: 5px !important;
    padding-left: 5px !important;
    position: relative;
}
.carousel-wrapper {
  position: relative;
}
.carousel-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
}
.carousel-wrapper .date-time {
    border-bottom: none !important;
    color: #fff !important;
}.carousel-wrapper .date-time span {
    color: #fff !important;
}
.slide-text {
    position: absolute;
    left: 15px;
    bottom: 5px;
    color: #fff;
    z-index: 1000;
    opacity: .5;
    transition: .5s;
}
.slide-text h6 {
    font-weight: 700;
}
.overlay {
    background: #f8426f61;
    position: absolute;
    top: 0px;
    left: 5px;
    height: 100%;
    z-index: 10000;
    margin: 0px auto;
    width: 96.5%;
    transition: .5s;
}
.carousel-wrapper:hover .slide-text {
    opacity: 1;
}
.carousel-wrapper:hover .overlay {
    background: #840222b5;
}

/* =============================================== CSS FOR FOOTER =================================== */ 

footer {
	background: #363B40;
}
.top-footer {
    padding: 50px 0px 35px 0px;
    color: #fff;
}
.top-footer h6 span {
    padding: 10px 0px;
    border-bottom: 1px solid #f84270;
}
.footer-logo {
    padding: 28px 0px 14px 0px;
}

.bottom-footer {
    border-top: 1px solid #c1c1c1; 
    color: #c1c1c1;
    font-size: 12px;
    padding: 12px 0px;
}
.footer-links {
    padding: 0px;
    list-style-type: none;
    margin-top: 30px;
}
.footer-links li {
    padding: 5px 0px;
    font-size: 14px;
}
.footer-links li a {
    color: #fe803b;
}
.footer-contact ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 30px; 
}
.footer-contact li {
    padding: 5px 0px;
    font-size: 14px;
}
.footer-contact li a {
    color: #fff; 
}
.footer-contact li a:hover {
    text-decoration: none;
    color: lightgray;
}
.footer-icon{
    margin-top: 35px; 
}
.footer-icon a {
    padding-right: 14px; 
    color: #fe803b;
    font-size: 16px;
}
.footer-icon a:hover { 
    color: lightgray;
}
.footer-category li a {
    color: #fff !important;
}
.footer-category li a:hover {
    color: lightgray !important;
}

/* ====================================== COMMAN CSS FOR ALL PAGE =============================== */

.post-tag {
    font-size: 12px;
    font-weight: 700;
    color: white;
    border: none;
    padding: 3px 5px;
    letter-spacing: .5px;
    z-index: 100;
    box-shadow: 3px 3px 0px #fff;
}
.post-tag-position {
    position: absolute;
    top: 20px;
    left: 20px;
} 

/* ====================================== CSS FOR INDEX PAGE ==================================== */

section {
    margin-top: 30px;
}
.main-title h6 {
    border-left: 3px solid #f84270;
    border-bottom: 2px solid #e2e2e2;
    padding-left: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;  
}
.main-title span {
    display: inline-block;
    background-image: linear-gradient(90deg,#f84270 0%,#fe803b 100%);
    padding: 8px;
}
.post-img-wapper {
    margin: 20px 0px 10px 0px; 
    position: relative;
    margin-bottom: 35px;
    overflow: hidden;
}
.post-outer-wrap {
    width: 100%;
    height: 225px;
    overflow: hidden;
}
.post-img-wapper img {
    width: 100%;
    transform: scale(1);
    transition: .5s;
}
.post-img-wapper:hover img {
    transform: scale(1.05);
}
.post-img-overflow {
    overflow: hidden;
    width: 100%;
    height: 380px;
}
.date-time {
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 8px;
}
.date-time span {
    color: #f84270;
    font-size: 14px;
    margin-right: 12px;
}
.date-time span i {
    margin-right: 6px;
    font-size: 14px;
}
.post-title {
    margin: 20px 0px 10px 0px;
}
.post-title a {
    font-weight: 700;
    font-size: 16px;
    color: #696969;
}
.post-title a:hover {
    color: #f84270;
    text-decoration: none;
}
.subscribe-wrapper {
    margin-bottom: 30px;
}
.subscribe-input input[type=text] {
    width: 100%;
    padding: 8px 12px;
    display: block;
    border-radius: 2px;
    font-size: 14px;
    background: #ececec;
    border: none; 
    border: 2px solid lightgray;
    margin-top: 18px; 
}
.subscribe-input input[type=text]:focus {
    outline: 2px solid #f84270;
}
.subscribe-button {
    border-radius: 2px;
    font-size: 16px;
    width: 100%;
    color: #f84270;
    font-weight: 500;
    border: none; 
    border: 2px solid  #f84270;
    padding: 5px;
    margin-top: 15px;
    background-color: #fff;
}
.subscribe-button:hover {
    color: #fe803b;
    border: 2px solid #fe803b;
}
.comments {
    margin-top: 25px;
}
.follower-inner-wrap a {
    float: left;
    width: 100%;
}
.follower-inner-wrap a {
    display: inline-block;
    border-radius: 2px;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    margin: 0px 10px 10px 0px; 
    float: left;
    width: 47%;
}
.follower-inner-wrap span {
    padding-left: 8px;
    font-size: 14px;
}
.clearfix {
    clear: both;
}
.comment-inner-box {
    display: flex;
    margin: 20px 0px;
}
.comment-inner-box p {
    margin: 4px 0px 0px 15px;
    font-size: 13px;
    color: #696969;
    line-height: 18px;
}
.comments-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* ====================================== CSS FOR CONTACT FORM ==================================== */

.maps {
   margin-bottom: 25px;
}
.maps img {
   width: 100%;
}
.form-outer-wrap {
    margin: 25px 0px; 
}
.contact-info {
    margin: 25px 0px; 
}
.contact-info ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 35px;
}
.contact-info ul li {
    margin: 20px 0px;
}
.contact-info ul li img {
    background: #fe803b;
    padding: 8px;
    margin-right: 10px; 
}
.contact-form {
    margin-top: 30px;
}
.user-name {
    display: table;
    float: left;
    width: 50%;
    padding-right: 10px; 
} 
.user-email {
    display: table;
    float: left;
    width: 50%;
    padding-left: 10px; 
} 
.user-subject {
    display: table;
    float: left;
    width: 100%; 
} 
.contact-form-icon {
    display: table-cell !important;
    padding: 10px 14px;
    background: #777575;
    color: #fff;
    border-radius: 2px;
    width: 20px;
}
.contact-textarea {
    padding: 15px; 
    border-radius: 3px;
    border: 1px solid #ced4da;
}
.send-mail {
    color: #fff;
    background-image: linear-gradient(90deg,#f84270 0%,#fe803b 100%);
    border: none;
    font-weight: 700;
    padding: 10px 10px;
    font-size: 12px;
}
.contact-form .form-control {
    background: #fafafa;
    font-size: 14px;
}

/* ====================================== CSS FOR PAGINATION ==================================== */

.news-category .page-link {
    color: #f84270;
    border: 1px solid lightgray;
}
.news-category .page-link:hover {
    color: #fff;
    background-color: #fe803b;
    border: 1px solid #fe803b;
}
.news-category .pagination {
    width: 28%;
    margin: 0px auto; 
    margin-bottom: 40px;
}

/* ====================================== CSS FOR SPORTS PAGES ==================================== */

.popular-news-outer-wrapper {
    margin-top: 20px;
    margin-bottom: 32px;
    position: relative;
}
.popular-news-inner-wrapper {
    overflow: hidden;
}
.category-popular-news { 
    background-size: cover;
    position: relative;
}
.popular-news-animate {
    transform: scale(1);
    transition: .25s;
}
.popular-news-animate:hover {
    transform: scale(1.1);
}
.popular-news-overlay {
    width: 100%;
    height: 260px;
    background: #560c1e8f;
    transition: .75s;
}
.popular-news-overlay:hover {
    background: #420e1b96;
}
.popular-news-text {
    position: absolute;
    bottom: 30px;
    padding: 0px 22px;
    color: #fff;
}
.popular-news-text h5 a {
    color: #fff;
    text-decoration: none;
}
.popular-news-text .date-time span {
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}
.popular-news-text .date-time {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 8px;
}
.popular-news-text .post-tag  {
    margin-bottom: 12px;
}
.sports-background-01 {
    background-image: url("../../assets/images/sports/img-01.jpg");
}
.sports-background-02 {
    background-image: url("../../assets/images/sports/img-02.jpg");
}
.sports-background-03 {
    background-image: url("../../assets/images/sports/img-03.jpg");
}
.sports-background-04 {
    background-image: url("../../assets/images/sports/img-04.jpg");
}
.sports-background-05 {
    background-image: url("../../assets/images/sports/img-05.jpg");
}

/* ====================================== CSS FOR EDUCATION PAGES ==================================== */

.education-background-01 {
    background-image: url("../../assets/images/education/img-01.jpg");
}
.education-background-02 {
    background-image: url("../../assets/images/education/img-02.jpg");
}
.education-background-03 {
    background-image: url("../../assets/images/education/img-03.jpg");
}
.education-background-04 {
    background-image: url("../../assets/images/education/img-04.jpg");
}
.education-background-05 {
    background-image: url("../../assets/images/education/img-05.jpg");
}

/* ====================================== CSS FOR POLITICS PAGES ==================================== */

.politics-background-01 {
    background-image: url("../../assets/images/politics/img-01.jpg");
}
.politics-background-02 {
    background-image: url("../../assets/images/politics/img-02.jpg");
}
.politics-background-03 {
    background-image: url("../../assets/images/politics/img-03.jpg");
}
.politics-background-04 {
    background-image: url("../../assets/images/politics/img-04.jpg");
}
.politics-background-05 {
    background-image: url("../../assets/images/politics/img-05.jpg");
}

/* ====================================== CSS FOR POST DETAIL PAGE ==================================== */

.featured-image img {
    width: 100%;
    height: 420px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.post-detail .date-time {
    border-bottom: 1px solid #e2e2e2;
}
.post-detail .date-time span i {
    margin-right: 10px;
    font-size: 18px;
}
.post-detail small, .small {
    font-size: 90%;
}
.post-author {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 12px;
}
.double-quote {
    margin-bottom: 15px;
}
blockquote.wp-block-quote {
    padding: 30px;
    padding-left: 40px;
    margin-top: 30px
    margin-bottom: 30px;
    position: relative;
    border-left: 0;
    text-align: center;
    font-weight: 700;
}
.post-detail ul li {
    padding: 5px 0px;
}
.overview-summary {
    margin: 30px 0px;
}

/* ====================================== CSS FOR POST REVIEWS ==================================== */


.review {
    margin-top: 50px;
}
.reviewer-detail {
    display: flex;
    margin-top: 20px;
}
.reviewer-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 25px;
}
.review-ratting span i {
    color: #fe803b;
} 
.review-title {
    padding-top: 10px;
}
.review-pagination .page-link {
    padding: 0.5rem 0.5rem;
    color: #fe803b;
    background-color: #fff;
    border: none;
}



